{% liquid
  assign logo = section.settings.logo
%}
<header>
  <div class="container">
    <nav class="flex items-center justify-between">
      <div class="logo">
        <a href="/">
          {% if logo != null %}
            <img width="200px" height="200px" src="{{ logo |  image_url:width:200  }}" alt="{{ shop.name }}">
          {% else %}
            <img width="200px" height="200px" src="{{ 'logo.png' |  asset_url }}" alt="{{ shop.name }}">
          {% endif %}
        </a>
      </div>
      <ul class="hidden md-xl:flex items-center gap-6">
        {% for item in section.settings.menu.links %}
          <li>
            <a href="{{ item.url }}">
              {{ item.title }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <button class="block md:hidden hamburger_menu">
        {% render 'icons', icon: 'menu-bar' %}
      </button>
      <div class="hidden md:flex items-center gap-6">
        <a href="/account/login">
          {% render 'icons', icon: 'user' %}
        </a>
        <a href="/search">
          {% render 'icons', icon: 'search' %}
        </a>
        <a href="/" class="relative">
          <div class="w-4 h-4 bg-red-500 text-white text-[0.8em] flex items-center absolute top-[-1em] right-0 justify-center rounded-full">
            0
          </div>
          {% render 'icons', icon: 'heart' %}
        </a>
        <a href="/" class="relative">
          <div class="w-4 h-4 bg-red-500 text-white text-[0.8em] flex items-center absolute top-[-1em] right-0 justify-center rounded-full">
            0
          </div>
          {% render 'icons', icon: 'shopping-cart-outlined' %}
        </a>
        <button class="md-xl:hidden block hamburger_menu">
        {% render 'icons', icon: 'menu-bar' %}
      </button>
      </div>
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "image_picker",
      "info": "Recomanded Size 200x200px",
      "id": "logo",
      "label": "Select Your Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
